version: "3.9"

services:
  db:
    image: postgres:14
    container_name: week08-postgres
    restart: always
    environment:
      POSTGRES_USER: xihxxn
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: week08-adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
